/* #region Standart styles, обнулення усіх стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: none;
  /* max-width: 100%; */
}

h1 h2 h3 h4 h5 h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  font-family: "Inter", Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #000;
}
/* =========================== */
.wrapper {
  min-height: 100%;
  /* overflow: hidden; - щоб не з'являвся горизонтальний скрол */
  overflow: hidden;
  display: flex;
  /* щоб притискати футер до низу сторінки */
  flex-direction: column;
}
/* =========================== */
/* .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
}
.title_center {
  text-align: center;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
} */
/* =========================== */
/* =========================== */
.page {
  flex: 1 1 auto;
}
/* =========================== */
/* =========================== */

/* Адаптивна сітка. Метод адаптиву по брейкпоінтах. Селектор який шукає входження в назві класів */
[class*="__container"] {
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1399.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    /* відступ безпеки обмежуючий контейнер матиме 1440px замість 1400px */
    padding: 0 20px;
  }
}
/* #endregion Standart styles */
/* ============================= */

/* #region Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 15px;
  min-height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__logo {
}
.header__logo img {
  display: block;
}
.header__menu {
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}
/* ============================= */
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
}
.menu__item {
}
.menu__link {
  /* щоб посилання прийняло загадьний колір шрифта */
  color: inherit;
  font-size: 20px;
  line-height: 50px;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #37c7c7;
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
    column-gap: 32px;
    row-gap: 0px;
  }
  .menu__link {
    font-size: 18px;
  }
}
/* #endregion Header */
/* ============================= */

/* #region Hero */
.hero-block {
}
.hero-block__container {
  padding-top: 250px;
  position: relative;
}
.hero-block__container::after {
  position: absolute;
  background: url("../img/hero/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.hero-block__body {
}

.body-hero-block {
  padding-left: 60px;
  max-width: 480px;
}
.body-hero-block__content {
}

.content-hero-block {
}
.content-hero-block__title {
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
  margin-bottom: 10px;
}
.content-hero-block__text p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 33px;
}
.content-hero-block__btn {
}

.btn {
}

/* #endregion Hero */

/* #region X */
/* #endregion X */
/* ============================= */

/* #region X */
/* #endregion X */
/* ============================= */

/* #region X */
/* #endregion X */
/* ============================= */
